@model SnoZen.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Sno-Zen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/js/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/css/freeze.css">

    <script type="text/javascript" src="~/js/modernizr.custom.32033.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
    <div class="pre-loader">
        <div class="load-con">
            <img src="~/img/snozen/snozen-transparent.png" class="animated fadeInDown" alt="">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <header>
        <section id="Home"></section>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="fa fa-bars fa-lg"></span>
                    </button>
                    <a class="navbar-brand" href="#Home">
                        <img src="~/img/snozen/snozen-transparent.png" alt="" class="logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#menu">Menu</a>
                        </li>
                        <li>
                            <a href="#gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="#social">Social</a>
                        </li>
                        <li>
                            <a href="#ContactUs">Contact</a>
                        </li>
                        <li>
                            <a href="#jobs">Jobs</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-->
        </nav>
        <div class="container">
            <!--RevSlider-->
            @*<div class="tp-banner-container">
                <div class="tp-banner">*@

                    <center>
                        <div class="slider single-item" style="margin-top:10em;">
                            <!-- Flavors Slider-->
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_cup.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_avocado.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_banana.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_coffee.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_lychee.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_mango.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/img/snozen/snow_strawberry.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Flavors Slider-->
                    </center>
                </div>


    </header>

    <div class="wrapper">

        <section id="about">
            <br />
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>About Us</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-users fa-2x"></i>
                            <h3>Who are we?</h3>
                            <p>Established in 2013, SnoZen Shaved Snow is one of the first to bring the authentic Taiwanese version of this popular frozen dessert to the Bay Area. With over 380+ near-perfect reviews and two locations (San Jose & Mountain View), this summer, Yelpers voted SnoZen one of the Best Places for Shaved Snow in the Bay Area.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect5">
                            <i class="fa fa-question-circle fa-2x"></i>
                            <h3>What is Shaved Snow?</h3>
                            <p>Shaved Snow combines the best qualities of ice cream and shaved ice into a completely unique dessert category of its own.  SnoZen offers six standard flavors - mango, taro, coconut, vanilla, chocolate, strawberry - and twelve shaved snow combinations to choose from. Create your own shaved snow creations or, if it's your first time, try their most popular combination - the Mango-to-Tango</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect5">
                            <i class="fa fa-flag fa-2x"></i>
                            <h3>Mission</h3>
                            <p>The idea behind the name "SnoZen" is a combination of two beliefs. The "Sno" part of our name relates to our commitment to providing a high-quality, authentic, shaved snow experience to our customers. The "Zen" has to do with our desire to create a place to escape the hustle and bustle of life and enjoy a sweet treat in a clean, comfortable, and relaxing environment. Simple pleasures - SnoZen.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect1">
                            <i class="fa fa-star fa-2x"></i>
                            <h3>Awards</h3>
                            <p>SnoZen Shaved Snow was featured as one of the Hot New Businesses on Yelp with 45 stellar reviews in its first week of business! One year later, we still have a near perfect rating after 370+ reviews and we were recently featured on Channel 4 News as one of the most popular places for Shaved Snow in the Bay Area!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="menu">
            <br />
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Menu</h1>
                    <div class="divider"></div>
                </div>
                <div class="slider single-item">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/img/snozen/menu.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/img/snozen/menu2.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/img/snozen/menu3.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/img/snozen/menu4.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="gallery">
            <br>
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Gallery</h1>
                    <div class="divider"></div>
                    <p>
                        Menu Combos Gallery
                    </p>
                </div>
                <!-- Combos Slider -->
                <div class="slider single-item">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Atari</h2>
                                <p>
                                    Taro Snow<br />
                                    Almond Slivers<br />
                                    Mochi<br />
                                    Condensed Milk<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_atari.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Berry Good</h2>
                                <p>
                                    Strawberry Snow<br />
                                    Fresh Strawberries<br />
                                    Fresh Blueberries<br />
                                    Raspberry Sauce<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_berrygood.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Coco-Banana</h2>
                                <p>
                                    Coconut Snow<br />
                                    Fresh Bananas<br />
                                    Almond Slivers<br />
                                    Caramel Sauce<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_cocobanana.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Cookie Monster</h2>
                                <p>
                                    Vanilla Snow<br />
                                    Oreos + Brownies<br />
                                    Chocolate Chips<br />
                                    Chocolate Sauce<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_cookiemonster.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Mango To Tango</h2>
                                <p>
                                    Mango Snow<br />
                                    Fresh Mango<br />
                                    Passion Fruit Jelly<br />
                                    Condensed Milk<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_mangototango.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Pina Colada</h2>
                                <p>
                                    Coconut Snow<br />
                                    Fresh Pineapple<br />
                                    Lychee Jelly<br />
                                    Condensed Milk<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_pinacolada.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Rocky Road</h2>
                                <p>
                                    Chocolate Snow<br />
                                    Almond Slivers<br />
                                    Marshmallows<br />
                                    Chocolate Sauce<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_rockyroad.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Summer Sunset</h2>
                                <p>
                                    Mango Snow<br />
                                    Fresh Mango<br />
                                    Fresh Strawberries<br />
                                    Condensed Milk<br />
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/img/snozen/szcombo_summersunset.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Combos Slider-->

            </div>
        </section>

        <section id="social">
            <br>
            <div class="container-fluid">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>Social Media</h1>
                    <div class="divider"></div>
                    <div class="social">
                        <a href="https://www.facebook.com/snozenshavedsnow" class="scrollpoint sp-effect3" target="_blank"><i class="fa fa-facebook fa-lg" alt="Facebook"></i></a>
                        <a href="https://twitter.com/snozenshavedsno" class="scrollpoint sp-effect3" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="http://instagram.com/snozenshavedsnow" class="scrollpoint sp-effect3" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <center>
                            <!-- SnapWidget -->
                            <iframe src="http://snapwidget.com/sc/?h=c25vemVufGlufDI1MHwzfDN8fHllc3wyMHxmYWRlT3V0fG9uU3RhcnR8eWVzfG5v&ve=040215" title="Instagram Widget" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:250px"></iframe>
                        </center>
                    </div>
                </div>
            </div>
        </section>

        <section id="ContactUs" class="doublediagonal">
            <br>
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Contact Us</h1>
                    <div class="divider"></div>
                    <p>Reach out for more info and support!</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 scrollpoint sp-effect1">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name" id="Name" name="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder='Your email' id="Email" name="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea cols="30" rows="10" class="form-control" placeholder="Your message" id="Message" name="Message" required></textarea>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg">
                                }
                            </div>
                            <div class="col-md-4 col-sm-6 contact-details scrollpoint sp-effect2">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">2010 Showers Drive<br />Moutain View, CA 94040</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-envelope fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="mailto:info@snozenshavedsnow.com">info@snozenshavedsnow.com</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-phone fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">+1 650 559 0241</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="jobs">
            <br>
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Jobs</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
                        <div class="slider single-item">
                            <div>
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <img src="~/img/snozen/jobad.jpg" alt="" class='img-responsive'>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8 job-detail">
                                        <strong>SnoZen - a new shaved snow/ice dessert cafe is looking for friendly, motivated and versatile team players to help deliver a top-notch customer experience in a high-paced setting while maintaining a clean and positive store environment. Restaurant / retail experience preferred. Flexible full-time and part-time positions available. Please send resume and inquire for more info by email.</strong>
                                        <hr />
                                        <b>Responsibilities and essential job functions included but are not limited to the following: </b>
                                        <ul>
                                            <li>
                                                Delivers prompt, positive and energetic customer service to all customers with a “customer comes first” attitude.
                                            </li>
                                            <li>
                                                Maintains a clean and organized workspace and front customer seating and eating area.
                                            </li>
                                            <li>
                                                Acts with integrity and honesty in accordance to company policies.
                                            </li>
                                            <li>
                                                Contributes to a positive team environment by respecting team members and informing the store manager of any performance or communication issues affecting the workplace.
                                            </li>
                                            <li>
                                                Performs a variety of tasks such as: cashiering, topping orders, hand-delivering orders, prepping work stations, taking out the trash, washing dishes, and cleaning and maintaining stock of products as needed.
                                            </li>
                                            <li>
                                                Keeps a calm demeanor during periods of high volume traffic requiring faster-paced execution while maintaining accurate and quality performance.
                                            </li>
                                            <li>
                                                Complies with dress code and standards in accordance with company culture and policies.
                                            </li>
                                            <li>
                                                Maintains regular and punctual attendance.
                                            </li>
                                        </ul>
                                        <hr />
                                        <strong>Required Knowledge, Skills and Abilities:</strong><br>
                                        <br><ul>
                                            <li>
                                                Ability to learn quickly<u></u><u></u><br>
                                                <br>
                                            </li>
                                            <li>
                                                Ability to understand and carry out oral and written instructions and request clarification when needed<br>
                                                <br>
                                            </li>
                                            <li>
                                                Strong interpersonal skills<u></u><u></u><br>
                                                <br>
                                            </li>
                                            <li>
                                                Ability to work as part of a team<br>
                                                <br>
                                            </li>
                                            <li>
                                                Ability to build relationships<u></u><u></u><br>
                                                <br>
                                            </li>
                                            <li>Ability to multitask<u></u><u></u></li>
                                        </ul>
                                        <center>
                                            <h3>
                                                Interested? Send your inquiries or submit your resume to <a href="mailto:info@snozenshavedsnow.com?subject=SnoZen%20Job%20Posting%20Inquiry">info@snozenshavedsnow.com</a>!
                                            </h3>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <a href="#Home" class="scrollpoint sp-effect3">
                    <img src="~/img/snozen/snozen-transparent-cropped.png" alt="" class="logo">
                </a>
                <div class="rights">
                    <p>Copyright &copy; 2016</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/placeholdem.min.js"></script>
    <script src="~/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <script>
        $(document).ready(function () {
            appMaster.preLoader();
        });

        $('.single-item').slick({
            infinite: true,
            dots: true,
            autoplay: false,
            autoplaySpeed: 4000
        });
    </script>
</body>
</html>

